*{margin: 0;
padding: 0;}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex-grow: 1;
}

/* Transicion de color */

.item{
    background-color: tomato;
    width: 200px;
    height: 200px;
    transition-property: background-color;
    transition-duration: 800ms;
    transition-timing-function: ease-out;
}

.item:hover{
    background-color: green;
    transition: 800ms;
}

/* Transicion de tamaño de fuente */

.parrafoAmplio{
transition: font-size 300ms ease-out;
}

.parrafoAmplio:hover{
    font-size: larger;
    cursor: pointer;
}

/* Transicion de opacidad */

.itemOpacidad{
width: 200px;
height: 100px;
background-color: lightcoral;
opacity: 0.8;
transition: opacity 200ms ease-in;
}

.itemOpacidad:hover{
    opacity: 1;
    cursor: pointer;
}

.subrayado{
    position: relative;
    display: inline-block;
}

.subrayado::after{
   content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    background-color: rgb(199, 48, 48);
    height: 2px;
    transition: width 300ms ease-in;
}

.subrayado:hover::after{
    width: 100%;
}