* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

/* Transicion de color */

.item {
  background-color: tomato;
  width: 200px;
  height: 200px;
  transition-property: background-color;
  transition-duration: 800ms;
  transition-timing-function: ease-out;
}

.item:hover {
  background-color: green;
  transition: 800ms;
}

/* Transicion de tamaño de fuente */

.parrafoAmplio {
  transition: font-size 300ms ease-out;
}

.parrafoAmplio:hover {
  font-size: larger;
  cursor: pointer;
}

/* Transicion de opacidad */

.itemOpacidad {
  width: 200px;
  height: 100px;
  background-color: lightcoral;
  opacity: 0.8;
  transition: opacity 200ms ease-in;
}

.itemOpacidad:hover {
  opacity: 1;
  cursor: pointer;
}

.subrayado {
  position: relative;
  display: inline-block;
}

.subrayado::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  background-color: rgb(199, 48, 48);
  height: 2px;
  transition: width 300ms ease-in;
}

.subrayado:hover::after {
  width: 100%;
}

/* Animacion de movimiento */
.contenedorAnimado {
  width: 150px;
  height: 50px;
  background-color: lightgray;
  color: black;
  animation-name: movimiento;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes movimiento {
  from {
    /* aqui nombro los valores de css que quiero que tenga mi animacion en el inicio */
    transform: translateX(0px);
  }

  to {
    /* aqui nombro los valores de css que quiero que tenga mi animacion al final */
    transform: translateX(200px);
  }
}

/* animacion de rotacion */

.parrafoRotador {
  animation-name: rotacion;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes rotacion {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


/* Animacion de escala */

.escalarMundo{
    animation-name: escalar;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes escalar {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(0.5);
    }
}

/* Animacion y transicion */

.contenedorPrincipal{
    width: 250px;
    height: 250px;
}

.circulo{
    width: 30px;
    height: 30px;
    background-color: rgba(75, 75, 233, 0.973);
    border-radius: 50%;
    position: relative;
    animation-name: animacionCompleja;
    animation-duration: 4s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

@keyframes animacionCompleja {

    0%{
        top: 0px;
        left: 0px;
    }

    25%{
        top: 0px;
        left: 100px;
    }

    50%{
        top: 100px;
        left: 100px;
    }

    75%{
        top: 100px;
        left: 0px;
    }
    100%{
        top: 0px;
        left: 0px;
    }
}